
<div class="container">
	<h2>Pick a Username for this Session</h2>



<form method="post" action="/name/">

	<label for="session_name">Username for this Session</label>
	<input type="text" id="session_name" name="session_name" placeholder="e.g. John"/>
	<br>
	<input type="submit" value="Session Name" />


</div>


